@charset "utf-8";
/* CSS Document */

body{
padding:20px;

}
.title{
	font-size:36px;
	font-family:"Gulim";
padding-left:100px;
}
.todotitle{
	font-size:24px;
	
	
}

.onetodo{

background-color:#ddffdd;


}

.listtext{
padding:20px;

}

#editButton{
padding-left:20px;

}
#checkButton{

padding-right:20px;
}
